<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <textarea #jscode type="text" placeholder="Enter some javascript code here..." rows="10" 
      (keyup)="linter(jscode.value)">

</textarea>
<span class="badge badge-success" *ngIf="errors.length==0 && jsCode.length>0">Valid</span> <span
                class="badge badge-info" *ngIf="jsCode.length==0">Write Something</span> <span class="badge badge-danger"
                *ngIf="errors.length>0 && jsCode.length>0">{{errors.length}} errors found</span>
    </div>
    <div class="col-lg-6">
      
      </div>
  </div>
</div>
</div>